@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quattrocento+Sans:700');

body {
    min-width: 240px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8d8f92;
    background-color: white;
    margin: 0;
    padding: 0;
}

.section { /*отдельные блоки*/
    width: 100%;
    position: relative;
}

.container { /*центровка содержимого*/
    min-width: 230px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    min-height: inherit;
}

@media screen and (max-width: 360px) { /*меньшие пэддинги при маленьком разрешении*/
    .container {
        padding: 0 5px;
    }
}

a { /*не подчеркивать все ссылки*/
    text-decoration: none;
}

h1 {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 80px 0 50px 24px;
    position: relative;
    color: black;
}

h1.fontWhite {
    color: white;
}

h1::before { /*полоса слева от заголовков*/
    content: "";
    position: absolute;
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;
    left: 0;
}

h1.fontWhite::before {
    background-color: #4e5a62;
}

.fontUpperSmall { /*Шрифт мелких заголовков*/
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.btn { /*Кнопки*/
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px 20px 10px 20px;
    transition: 250ms;
}

.btn:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}

.flex { /*для большинства флекс-контейнеров*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a.social { /*квадратные соц кнопки*/
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
    transition: 250ms;
    margin: 20px -3px 50px 0;
}
 
/*..............................HEADER.............................*/

header {
    min-height: 81px;
    background-color: #1d2126;
}
header .off {
    display: none;
}

header img { /*лого*/
    width: 99px;
    height: 19px;
    position: absolute;
    top: 31px;
    transition: 250ms;
}

header nav {
    display: flex;
    justify-content: flex-end;
    min-height: inherit;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

header li {
    display: inline-block;
    margin: 8px 0;
}

header li:not(:last-child) {
    margin-right: 10px;
}

header a {
    color: #8d8f92;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 3px 10px;
    transition: 250ms;
}

header a:hover {
    border-color: #5b6168;
    color: #c7c8ca;
}

@media (min-width: 401px) and (max-width: 750px) {
    header img {
        top: 3px;
        left: 5px;
        width: 2.5em;
        height: auto;
        transition: 250ms;
    }

    header .off {
        display: inline-block;
    }

    header .on {
        display: none;
    }

    header a {
        font-size: 16px;
    }

    header a:hover {
        border-color: transparent;
    }
}

@media (min-width: 240px) and (max-width: 400px) {
    header img {
        top: 3px;
        left: 5px;
        width: 2.5em;
        height: auto;
        transition: 250ms;
    }

    header .off {
        display: inline-block;
    }

    header .on {
        display: none;
    }

    header a {
        font-size: 16px;
        padding: 3px 5px;
    }

    header a:hover {
        border-color: transparent;
    }
    
    header li:not(:last-child) {
        margin-right: 5px;
    }
}

/*..............................SLIDER.............................*/

.slider {
    min-height: 662px;
    width: 100%;
    position: relative;
}

.slider_text {
    max-width: 654px;
}

.slider h1 {
    padding: 200px 0 10px 0;
}

.slider p {
    margin-bottom: 50px;
    color: rgb(214, 214, 214);
}

.slider h1::before {
    content: "";
    width: 0;
    height: 0;
}

.slider__items,
.slider__item {
    min-height: inherit;
}

.slider__items {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider__item { /*блок с отдельным слайдом*/
    position: relative;
    display: none;
    width: 100%;
    transition: transform 1s ease;
    backface-visibility: hidden;
    background-size: cover;
}

.slider__item:first-child {
    background-image: url("img/slider1.jpg");
}

.slider__item:nth-child(2) {
    background-image: url("img/slider2.jpg");
}

.slider__item:last-child {
    background-image: url("img/slider3.jpg");
}

.slider__item_active, /*отображаем слайд, если он имеет один из этих классов*/
.slider__item_next,
.slider__item_prev {
    display: block;
}

.slider__item_next, /*устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации)*/
.slider__item_prev {
    position: absolute;
    top: 0;
}
  
.slider__item_next.slider__item_left, /*сдвигаем элемент на 0 по горизонтали*/
.slider__item_prev.slider__item_right {
    transform: translateX(0);
}
  
.slider__item_next, /*сдвигаем элемент на 100% по горизонтали*/
.slider__item_right.slider__item_active {
    transform: translateX(100%);
}
  
.slider__item_prev, /*сдвигаем элемент на -100% по горизонтали*/
.slider__item_left.slider__item_active {
    transform: translateX(-100%);
}

.slider a.btn {
    margin-top: 50px;
    margin-right: 5px;
}

.slider__indicators { /*блок с индикаторами слайдера*/
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 20%;
    margin-left: 20%;
    list-style: none;
}
  
.slider__indicator { /*сами индикаторы*/
    position: relative;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
}

.slider__indicator_active { /*активный индикатор*/
    background-color: #fff;
}

/*..............................ABOUT.............................*/

.about {
    min-height: 561px;
    border-bottom: 1px solid #dde1e4;
    padding-bottom: 50px;
}

.aboutContent p {
    margin: 0 0 30px 0;
}

.social:hover {
    background-color: #d0d5d9;
}

.aboutContent div:first-child {
    max-width: 654px;
}

.aboutContent div:last-child {
    max-width: 457px;
}

.aboutContent dl,
.aboutContent dd {
    margin: 0;
}

.aboutContent dl {
    margin-left: 70px;
}

.aboutContent dt {
    position: relative;
}

.aboutContent dt::before {
    content: "01";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    left: -70px;
    top: 3px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.aboutContent dt.two::before {
    content: "02";
}

.aboutContent dt.three::before {
    content: "03";
}

.aboutContent dd {
    padding-top: 10px;
    padding-bottom: 30px;
}

@media screen and (max-width: 330px){
    .aboutContent a.social {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}

/*..............................TEAM.............................*/

.team {
    min-height: 601px;
    padding-bottom: 50px;
}

.photoTeam h3,
.photoTeam p {
    margin: 0;
}

.photoTeam h3 {
    padding-top: 17px;
}

.photoTeam .photo {
    width: 262px;
    height: 374px;
    position: relative;
    margin-bottom: 30px;
}

.photoTeam img {
    width: 262px;
    height: 300px;
    transition: 250ms;
}

.photoTeam .name {
    background-color: #e1e6ea;
    height: 74px;
    margin-top: -5px;
    padding-left: 20px;
    transition: 250ms;
}

.socialHide {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 125px;
    transition: 250ms;
    display: flex;
    justify-content: center;
    width: 100%;
}

.socialHide a.social {
    background-color: #3a454d;
    margin: 0 1px 0 0;
}

.socialHide a.social:hover {
    background-color: #4e5a62;
}

.photoTeam .photo:hover .socialHide {
    opacity: 100;
    z-index: 1;
}

.photoTeam .photo:hover .name,
.photoTeam .photo:hover .name h3 {
    color: white;
}

.photoTeam .photo:hover .name {
    background-color: #3a454d;
}

.photoTeam .photo:hover img {
    filter: contrast(0.4) brightness(1.4);
}

@media screen and (max-width: 1094px){
    .team .photoTeam {
        justify-content: space-around;
    }
}

@media screen and (max-width: 288px) {
    .photoTeam .photo,
    .photoTeam img {
        width: 230px;
        height: auto;
    }
}

/*..............................WORK.............................*/

.work {
    min-height: 869px;
    padding-bottom: 30px;
    background-color: #3a454d;
}

.work .works {
    margin-top: 10px;
}

.work .works div {
    position: relative;
    width: 360px;
    height: 265px;
    margin-bottom: 30px;
}

.work .works img {
    width: 360px;
    height: 265px;
    transition: 250ms;
}

.work .works div::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("img/cross.png");
    top: 97px;
    left: 170px;
    z-index: 1;
    opacity: 0;
    transition: 250ms;
}

.work .works div::after {
    content: "Partnership guidlines";
    position: absolute;
    width: calc(100% - 20px);
    height: 60px;
    background-color: #292f36;
    bottom: 0;
    left: 0;
    color: white;
    line-height: 60px;
    padding-left: 20px;
    opacity: 0;
    transition: 250ms;
}

.work .works div:hover::after,
.work .works div:hover::before {
    opacity: 100;
}

.work .works div:hover img {
    filter: contrast(0.5) brightness(0.7);
}

.work .btn {
    display: block;
    width: 109px;
    margin: 35px auto 0 auto;
}

@media screen and (max-width: 1126px){
    .work .works {
        justify-content: space-around;
    }
}

@media screen and (max-width: 386px) {
    .work .works div,
    .work .works img {
        width: 230px;
        height: auto;
    }
    
    .work .works div::before {
        top: 49px;
        left: 105px;
    }
    
    .work .works div::after {
        padding-left: 10px;
        width: calc(100% - 10px);
    }
}

/*..............................SERVICES.............................*/

.services {
    min-height: 847px;
    padding-bottom: 50px;
}

.service {
    padding-bottom: 30px;
}

.services .block {
    width: 263px;
    min-height: 266px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.service i {
    display: block;
    font-size: 60px;
    line-height: 100px;
    color: #23b7a4;
}

.service h3 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1098px){
    .service {
        justify-content: space-around;
    }
}

@media screen and (max-width: 289px) {
    .services .block {
        width: 230px;
    }
}

/*..............................FEATURES.............................*/

.features {
    min-height: 682px;
    padding-bottom: 50px;
    background-color: #3a454d;
}

.features_main .block {
    width: 360px;
    min-height: 438px;
}

.features_main img {
    width: 360px;
    height: 240px;
}

.features_main h3 {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

@media screen and (max-width: 1126px){
    .features_main {
        justify-content: space-around;
    }
}

@media screen and (max-width: 386px) {
    .features_main .block {
        width: 230px;
    }
    
    .features_main img {
        width: 230px;
        height: auto;
    }
}

/*..............................CONTACT.............................*/

.contact {
    min-height: 817px;
    padding-bottom: 50px;
}

.map {
    position: absolute;
    width: 100%;
    height: 346px;
    top: 159px;
    z-index: 5;
}

.contactColumn {
    min-height: 425px;
    margin-top: 206px;
}

.contactInfo {
    max-width: 555px;
    min-height: 266px;
    margin-bottom: 30px;
    background-color: white;
    margin-top: 129px;
}

.contactInfo h2 {
    font-size: 22px;
    padding: 35px 0 0 10px;
}

.contactInfo p {
    padding-top: 12px;;
    margin-bottom: 0;
    line-height: 26px;
}

.form {
    width: 515px;
    min-width: 239px;
    min-height: 365px;
    background-color: white;
    margin-bottom: 30px;
    z-index: 6;
    padding: 30px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    color: #8d8f92;
    align-content: flex-start;
    border-top: 1px solid #8d8f92;
}

.form label p {
    margin: 0;
    margin-bottom: 8px;
    padding-left: 10px;
}

.form input {
    border: none;
    border-radius: 3px;
    background-color: #eaeef1;
    width: 100%;
    height: 44px;
}

.form div {
    margin: 0 10px;
}

.form div:first-child,
.form div:nth-child(2) {
    flex-grow: 1;
    min-width: 200px;
    height: 90px;
}

.form div:last-child {
    width: 100%;
    height: 260px;
}

.form textarea {
    width: calc(100% - 4px);
    height: 155px;
    border: none;
    border-radius: 3px;
    background-color: #eaeef1;
}

input.btn-form {
    margin-top: 25px;
    width: 150px;
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}

input.btn-form:hover {
    background-color: white;
    color: #23b7a4;
}

/*..............................FOOTER.............................*/

footer {
    min-height: 95px;
    background-color: #3a454d;
    font-size: 14px;
    color: white;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-left: auto;
}

footer li {
    display: inline-block;
    margin-left: 10px;
}

footer a {
    color: white;
    transition: 250ms;
}

footer a:hover {
    color: #babbbd;
}