@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,500,700');
/*
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/*тело*/
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    color: #505050;
    background-color: #ffffff;
}

/*контейнер-центровщик*/
.container {
    min-width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 1170px;
    margin: 0 auto;
}

.container_big {
    max-width: 1400px;
}

.raleway {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.xxx {
    background-color: rgba(255, 0, 0, 0.3);
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*шапка*/
header {
    width: 100%;
    min-height: 65px;
    background-color: #06060b;
}

/*flex-контейнер*/
.container-head {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    min-height: inherit;
    position: relative;
}

/*блок с лого*/
.header-logo {
    max-width: 251px;
    height: auto;
    position: absolute;
    left: 0;
    top: -2px;
    z-index: 1000;
}

/*изображение логотипа*/
.header-logo img {
    width: 251px;
    object-fit: contain;
}

/*блок с меню в шапке*/
header nav {
    display: flex;
    align-items: center;
}

/*само навигационное меню*/
.main-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-transform: uppercase;
}

/*ссылки внутри элементов навигационного меню*/
.main-nav a {
    color: #a4a4a4;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    vertical-align: middle;
}

/*наведение мыши на пункт навигационного меню*/
.main-nav a:hover {
    border-top: solid 2px #ff0036;
    border-bottom: solid 3px #ff0036;
    color: #ffffff;
    transition: all 0.3s linear;
}

/*активный пункт навигационного меню*/
.main-nav a:active {
    color: #ff0036;
    transition: none;
    border-color: #ffffff;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*блок слайдера*/
.slider {
    width: 100%;
    min-height: 600px;
    position: relative;
}

/*контейнер для текстового содержимого и кнопок*/
.flex {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*флекс-элемент контейнера .flex - для центровки*/
.container-slider {
    min-width: 310px;
    max-width: 1170px;
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
}

/*контейнер, в кот. нахоятся слайдер, текстовое содержимое и кнопки*/
.slider-block {
    position: relative;
}
  
/*блок со всеми фотографиями слайдера*/
.slider__items {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*блок с отдельной фотографией*/
.slider__item {
    position: relative;
    display: none;
    width: inherit;
    transition: transform 1s ease;
    backface-visibility: hidden;
    height: 600px;
    background-size: cover;
}

/*первое фото слайдера*/
div.slider__item:first-child {
    background-image: url("img/slider1.jpg");
}

/*второе фото слайдера*/
div.slider__item:nth-child(2) {
    background-image: url("img/slider2.jpg");
}

/*третье фото слайдера*/
div.slider__item:last-child {
    background-image: url("img/slider3.jpg");
}
  
/*отображаем слайд, если он имеет один из этих классов*/
.slider__item_active,
.slider__item_next,
.slider__item_prev {
    display: block;
}
  
/*устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации)*/
.slider__item_next,
.slider__item_prev {
    position: absolute;
    top: 0;
}
  
/*сдвигаем элемент на 0 по горизонтали*/
.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
    transform: translateX(0);
}
  
/*сдвигаем элемент на 100% по горизонтали*/
.slider__item_next,
.slider__item_right.slider__item_active {
    transform: translateX(100%);
}
  
/*сдвигаем элемент на -100% по горизонтали*/
.slider__item_prev,
.slider__item_left.slider__item_active {
    transform: translateX(-100%);
}

/* элементы управления (назад и вперёд) слайдером */
.slider__control {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
    color: #fff;
    text-align: center;
    opacity: 0.6;
    text-decoration: none;
    font-size: 40px;
    font-weight: 900;
  }

  .slider__control_prev {
    left: 0;
  }

  .slider__control_next {
    right: 0;
  }

  .slider__control_prev::before {
    content: '<';
  }

  .slider__control_next::before {
    content: '>';
  }

  .slider__control_prev:hover,
  .slider__control_next:hover {
    color: #ff0036;
    opacity: 0.9;
}

/*блок с индикаторами слайдера (хлебные крошки)*/
.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}
  
/*сами индикаторы*/
.slider__indicator {
    position: relative;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
}

/*активный индикатор*/
.slider__indicator_active {
    background-color: #ff0036;
}
    
/*блок .welcome внутри слайдера с заголовком и абзацем*/
.slider .welcome {
    max-width: 1170px;
    min-width: 310px;
    height: auto;
    margin-top: 180px;
}

/*заголовок внутри блока .welcome*/
.slider .welcome h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/*красное слово в заголовке*/
span.red {
    color: #ff0036;
}

/*абзац внутри блока .welcome*/
.slider .welcome p {
    margin: 0;
    padding: 0 70px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
}

/*блок с кнопками внутри блока .welcome*/
.slider .buttons {
    margin: 0 auto;
    max-width: 370px;
    min-width: 310px;
    max-height: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

/*сами кнопочки*/
.buttons .btn {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 27px;
    background-color: #131313;
    border: solid 1px #ffffff;
}

/*маргин справа для всех кнопок, кроме последней*/
.slider .buttons .btn-slider:not(:last-child) {
    margin-right: 60px;
}

/*поведение кнопок при наведении мышкой*/
.buttons .btn:hover {
    background-color: #ff0036;
    border-color: #ff0036;
    transition: all 0.3s linear;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

.about {
    width: 100%;
    min-height: 1178px;
}

.headline h1,
.headline p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.headline h1 {
    font-size: 30px;
    padding-top: 100px;
}

.headline p {
    font-size: 16px;
    margin-top: 45px;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
}

.about_main_left_flex,
.about_main_right_flex {
    max-width: 570px;
    min-width: 310px;
}

.about_main_right_flex {
    display: flex;
    align-items: center;
}

.about_main_right_flex img {
    max-width: 570px;
    min-width: 310px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about_main_left_flex p {
    margin: 0;
    text-align: justify;
    margin-bottom: 40px;
}

.about_main_list {
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    color: #ff0036;
    margin-bottom: 9px;
}

.about_main_list tr:first-child {
    height: 43px;
}

.about_main_list .click {
    width: 58px;
    text-align: center;
    border-right: 1px solid #e7e7e7;
}

.about_main_list .description {
    padding-left: 30px;
}

.about_main_list .hidden {
    border-top: 1px solid #e7e7e7;
    background-color: #ffffff;
}

.about_main_list .hidden td:first-child {
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}

.about_line_flex {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about_line {
    max-width: 515px;
    width: 515px;
    border-top: 1px solid black;
}

.about_list_bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 90px;
}

.about_list_section {
    width: 270px;
    min-height: 220px;
    position: relative;
    margin-bottom: 20px;
}

.about_list_section i {
    position: absolute;
    left: 123px;
    top: 30px;
    font-size: 26px;
    color: #262626;
}

.about_list_section i.two {
    left: 124px;
    top: 28px;
}

.about_list_section i.three {
    left: 127px;
    top: 27px;
}

.about_list_section i.four {
    left: 128px;
    top: 25px;
}

div.svg {
    height: 110px;
}

.about_list_section h2,
.about_list_section p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.about_list_section h2 {
    color: #262626;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about_list_section polygon {
    stroke: #262626;
    stroke-width: 1;
    fill: none;
}

.about_list_section:hover i {
    color: #ffffff;
    transition: all 0.3s linear;
}

.about_list_section:hover polygon {
    stroke: none;
    fill: #ff0036;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

.portfolio {
    width: 100%;
    min-height: 1075px;
    background-color: #262626;
}

.portfolio .headline h1 {
    color: #ffffff;
}

/*блок с меню*/
.portfolio nav {
    display: flex;
    justify-content: center;
    margin-top: 23px;
}

/*само меню*/
.portfolio-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

/*ссылки внутри элементов меню*/
.portfolio-nav a {
    color: #a4a4a4;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
}

/*наведение мыши на пункт меню*/
.portfolio-nav a:hover {
    color: #ff0036;
    transition: all 0.3s linear;
}

/*активный пункт меню*/
.portfolio-nav a:active {
    color: #fff;
    transition: none;
}

.portfolio_gallery {
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 95px;
    padding-bottom: 110px;
}

.portfolio_photo {
    height: 350px;
    flex-grow: 1;
    background-size: auto;
    background-repeat: no-repeat;
}

.portfolio_photo p {
    text-align: center;
    color: #fff;
    opacity: 0;
}

.portfolio_photo p:first-child {
    padding-top: 150px;
    font-size: 40px;
    font-weight: bold;
}

.portfolio_photo:hover {
    background-image: none;
    background-color: #050d11;
    transition: all 0.2s linear;
}

.portfolio_photo:hover p {
    opacity: 1;
    transition: all 0.2s linear;
}

.portfolio_photo1 {
    background-image: url("img/dollar.png");
    background-color: #f39943;
    width: 400px;
}

.portfolio_photo2 {
    background-image: url("img/bank.png");
    background-color: #3782aa;
    width: 300px;
}

.portfolio_photo3 {
    background-image: url("img/flower.png");
    background-color: #ef5d88;
    width: 400px;
}

.portfolio_photo4 {
    background-image: url("img/card.png");
    background-color: #f6f0e0;
    width: 300px;
}

.portfolio_photo5 {
    background-image: url("img/calc.png");
    background-color: #56cc82;
    width: 300px;
}

.portfolio_photo6 {
    background-image: url("img/percent.png");
    background-color: #95a5a5;
    width: 400px;
}

.portfolio_photo7 {
    background-image: url("img/case.png");
    background-color: #24b0c9;
    width: 300px;
}

.portfolio_photo8 {
    background-image: url("img/check.png");
    background-color: #fa8562;
    width: 400px;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

.features {
    width: 100%;
    min-height: 986px;
}

.features_list {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    margin-bottom: 23px;
}

.features_left_flex,
.features_right_flex {
    z-index: 1000;
}

.features_list td {
    height: 50px;
    width: 300px;
    text-align: right;
    text-transform: uppercase;
    background-color: #fff;
}

.features_list td.td_left {
    text-align: left;
}

.features_list .check {
    position: relative;
    width: 68px;
    text-align: initial;
}

.features_list_section i {
    position: absolute;
    left: 27px;
    top: 17px;
    font-size: 20px;
    color: #262626;
}

.features_list_section svg {
    width: 54px;
    height: 40px;
}

.features_list_section polygon {
    fill: #e6e6e6;
}

.features_list:hover i {
    color: #ff0036;
    transition: all 0.3s linear;
}

.features_list:hover polygon {
    fill: #fff;
    transition: all 0.3s linear;
}

.features_list:hover td {
    background-color: #ff0036;
    color: #fff;
    transition: all 0.3s linear;
}

.features_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 178px;
}

.ipad {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.ipad div {
    max-width: 473px;
    min-width: 310px;
    transform: translateY(-330px);
    height: 550px;
}

.ipad div img {
    max-width: 570px;
    min-width: 310px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.features_bottom_block {
    height: 50px;
    position: relative;
}

.features_img_block .btn {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 27px;
    background-color: #393939;
    border: solid 1px #ffffff;
    position: absolute;
    left: 34%;
    bottom: 0;
}

.features_img_block .btn:hover {
    background-color: #ff0036;
    border-color: #ff0036;
    transition: all 0.3s linear;
}



/*++++++++++++++++++++++++++++++++++++ Медиа запросы +++++++++++++++++++++++++++++++++++++++*/

/*поведение шапки при ширине экрана до 500 пикс*/
@media screen and (max-width: 500px){
    .main-nav a {
        font-size: 16px;
    }

    .main-nav a:hover,
    .main-nav a:active {
        border: none;
    }

    .on {
        display: none;
    }

    .main-nav {
        margin-right: 10px;
    }

    .header-logo img {
        display: none;
    }

    .slider .welcome {
        margin-top: 80px;
    }

    .features_flex {
        justify-content: space-around;
        margin-top: 50px;
    }

    .ipad div {
        transform: translateY(-20px);
        height: 660px;
    }

    .main {
        justify-content: center;
    }

    .features_img_block .btn {
        bottom: 26%;
    }

    .buttons .btn {
        font-size: 16px;
        padding: 10px 22px;
    }
}

/*поведение шапки при ширине экрана от 501 до 850 пикс*/
@media screen and (max-width: 850px) and (min-width: 501px){
    .main-nav a {
        font-size: 16px;
    }

    .main-nav a:hover,
    .main-nav a:active {
        border: none;
    }

    .on {
        display: none;
    }

    .main-nav {
        margin-right: 10px;
    }

    .header-logo img {
        max-width: 150px;
    }

    .slider .welcome {
        margin-top: 110px;
    }

    .features_flex {
        justify-content: space-around;
        margin-top: 100px;
    }

    .ipad div {
        transform: translateY(-20px);
        height: 700px;
    }

    .main {
        justify-content: space-around;
    }

    .features_img_block .btn {
        bottom: 22%;
    }
}

/*поведение шапки при ширине экрана от 851 до 1100 пикс*/
@media screen and (max-width: 1100px) and (min-width: 851px){
    .main-nav a {
        font-size: 15px;
        border-top: solid 2px transparent;
        border-bottom: solid 3px transparent;
        padding: 22px 0 20px 0;
    }

    .off {
        display: none;
    }

    .header-logo img {
        max-width: 200px;
    }

    .slider .welcome {
        margin-top: 150px;
    }

    .main {
        justify-content: space-around;
    }
}

/*поведение шапки при ширине экрана от 1101 пикс*/
@media screen and (min-width: 1101px){
    .main-nav a {
        font-size: 18px;
        border-top: solid 2px transparent;
        border-bottom: solid 3px transparent;
        padding: 20px 0 18px 0;
    }

    .off {
        display: none;
    }
}
