@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quattrocento+Sans:700');


/*тело*/
body {
    min-width: 330px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: "Open Sans", sans-serif;
    color: #8d8f92;
    background-color: white;
}

/*контейнер-центровщик*/
.container {
    min-width: 320px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 1140px;
    margin: 0 auto;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*вспомогательный блок, необходимый для фиксации шапки*/
.head {
    width: 100%;
    min-height: 80px;
    z-index: 9998;
    background-color: #1d2126;
}

/*шапка*/
header {
    width: inherit;
    min-height: inherit;
    background-color: inherit;
    z-index: 9999;
    position: fixed;
    overflow: auto;
}

/*второе состояние шапки - при прокрутке (уменьшенный вариант)*/
header.sticky {
    min-height: 50px;
    transition: 500ms;
}

/*flex-контейнер*/
.container-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: inherit;
}

.container-head.right {
    justify-content: flex-end;
}

/*блок с лого*/
.header-logo {
    width: 99px;
    display: flex;
    align-items: center;
}

/*блок с лого делаем невидимым при скролле*/
.header-logo.hidden {
    display: none;
}

 /*картинка лого*/
.header-logo img {
    width: 99px;
    height: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*блок с меню в шапке*/
header nav {
    min-width: 255px;
    max-width: 630px;
    display: flex;
    align-items: center;
}

/*само навигационное меню*/
.main-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

/*ссылки внутри элементов навигационного меню*/
.main-nav a {
    color: #a4aead;
    text-decoration: none;
    padding: 4px 10px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    vertical-align: middle;
}

/*наведение мыши на пункт навигационного меню*/
.main-nav a:hover {
    border-color: #5b6168;
    transition: all 0.3s linear;
}

/*активный пункт навигационного меню*/
.main-nav a:active {
    color: #23b7a4;
    border-color: #23b7a4;
    transition: none;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*блок слайдера*/
.slider {
    width: 100%;
    height: 660px;
    position: relative;
}

/*контейнер для текстового содержимого и кнопок*/
.flex {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*флекс-элемент контейнера .flex - для центровки*/
.container-slider {
    min-width: 320px;
    max-width: 1140px;
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
}

/*контейнер, в кот. нахоятся слайдер, текстовое содержимое и кнопки*/
.slider-block {
    position: relative;
}
  
/*блок со всеми фотографиями слайдера*/
.slider__items {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*блок с отдельной фотографией*/
.slider__item {
    position: relative;
    display: none;
    width: inherit;
    transition: transform 1s ease;
    backface-visibility: hidden;
    height: 660px;
    background-size: cover;
}

/*первое фото слайдера*/
div.slider__item:first-child {
    background-image: url("img/slider1.jpg");
}

/*второе фото слайдера*/
div.slider__item:nth-child(2) {
    background-image: url("img/slider2.jpg");
}

/*третье фото слайдера*/
div.slider__item:last-child {
    background-image: url("img/slider3.jpg");
}
  
/*отображаем слайд, если он имеет один из этих классов*/
.slider__item_active,
.slider__item_next,
.slider__item_prev {
    display: block;
}
  
/*устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации)*/
.slider__item_next,
.slider__item_prev {
    position: absolute;
    top: 0;
}
  
/*сдвигаем элемент на 0 по горизонтали*/
.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
    transform: translateX(0);
}
  
/*сдвигаем элемент на 100% по горизонтали*/
.slider__item_next,
.slider__item_right.slider__item_active {
    transform: translateX(100%);
}
  
/*сдвигаем элемент на -100% по горизонтали*/
.slider__item_prev,
.slider__item_left.slider__item_active {
    transform: translateX(-100%);
}
  
/*блок с индикаторами слайдера (хлебные крошки)*/
.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    margin-right: 20%;
    margin-left: 20%;
    list-style: none;
}
  
/*сами индикаторы*/
.slider__indicator {
    position: relative;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
}

/*активный индикатор*/
.slider__indicator_active {
    background-color: #fff;
}
    
/*блок .welcome внутри слайдера с заголовком и абзацем*/
.slider .welcome {
    max-width: 654px;
    min-width: inherit;
    height: auto;
    margin-top: 210px;
}

/*заголовок внутри блока .welcome*/
.slider .welcome h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    line-height: 42px;
}

/*абзац внутри блока .welcome*/
.slider .welcome p {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #ccd0d7;
    font-size: 16px;
    line-height: 26px;
}

/*блок с кнопками внутри блока .welcome*/
.slider .buttons {
    margin-top: 45px;
    max-width: 654px;
    min-width: inherit;
}

/*сами кнопочки*/
.buttons .btn {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    line-height: 28px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 21px;
}

/*маргин справа для всех кнопок, кроме последней*/
.slider .buttons .btn-slider:not(:last-child) {
    margin-right: 5px;
}

/*поведение кнопок при наведении мышкой*/
.buttons .btn:hover {
    border-color: #23b7a4;
    background-color: #23b7a4;
    transition: all 0.3s linear;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*блок о нас*/
.about {
    width: 100%;
    min-height: 610px;
    border-bottom: 1px solid #dde1e4;
}

/*заголовки*/
.headline {
    min-height: inherit;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    position: relative;
}

/*полоска слева от заголовка*/
.headline::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 35px;
    top: 84px;
    left: 0;
}

/*полоска слева от заголовка для черного заголовка*/
.headline-black::before {
    background-color: #e1e6ea;
}

/*полоска слева от заголовка для белого заголовка*/
.headline-white::before {
    background-color: #4e5a62;
}

/*черные заголовки*/
.headline-black {
    color: #292f36;
}

/*белые заголовки*/
.headline-white {
    color: white;
}

/*весь блок с колонками*/
.about-column {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*левая колонка блока .about*/
.left-column-about {
    max-width: 650px;
    min-width: 320px;
    margin-bottom: 30px;
    height: auto;
}

/*абзацы в левой колонке*/
.left-column-about p {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

/*блок с соц кнопками*/
.left-column-about .social-about {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

/*сами соц кнопки*/
.social-about a {
    display: inline-block;
    background-color: #c8cdd0;
    width: 60px;
    height: 60px;
    margin-right: -2px;
    text-decoration: none;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    color: white;
}

/*поведение соц кнопок при наведении мышкой*/
.social-about a:hover {
    background-color: #d0d5d9;
    transition: all 0.2s linear;
}

/*правая колонка блока .about*/
.right-column-about {
    max-width: 457px;
    min-width: 320px;
    margin-bottom: 30px;
    height: auto;
}

/*блоки в правой колонке*/
.right-column-block {
    padding-left: 70px;
    min-height: 100px;
    margin-bottom: 14px;
    position: relative;
}

/*заголовки в блоках правой колонки*/
.right-column-block h2 {
    padding: 0;
    margin: 0;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #292f36;
}

/*абзацы в блоках правой колонки*/
.right-column-block p {
    padding: 0;
    margin: 0;
    margin-top: 3px;
}

/*зеленый квадратик - псевдоэлемент*/
.right-column-block::before {
    content:"01";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    top: 7px;
    left: 0px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-align: center;
}

/*зеленый квадратик - псевдоэлемент2*/
.right-column-block2::before {
    content:"02";
}

/*зеленый квадратик - псевдоэлемент3*/
.right-column-block3::before {
    content:"03";
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*блок команда*/
.team {
    width: 100%;
    min-height: 650px;
}

/*блок со всеми фотографиями команды*/
.block-all-photo-team {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*блок-карточка фотографии*/
.team-photo-block {
    min-height: 375px;
    width: 262px;
    position: relative;
    margin-bottom: 30px;
}

/*размеры фотографии*/
.team-photo {
    width: 262px;
    height: 300px;
}

/*первая фотография*/
.team-photo1 {
    background: url("img/team_photo_1.jpg") no-repeat;
}

/*вторая фотография*/
.team-photo2 {
    background: url("img/team_photo_2.jpg") no-repeat;
}

/*третья фотография*/
.team-photo3 {
    background: url("img/team_photo_3.jpg") no-repeat;
}

/*четвертая фотография*/
.team-photo4 {
    background: url("img/team_photo_4.jpg") no-repeat;
}

/*блок с прячущимися соц кнопками*/
.social-team {
    padding-left: 59px;
    display: none;
    position: absolute;
    top: 125px;
}

/*прячущиеся соц кнопки*/
.social-team a {
    display: inline-block;
    background-color: #3a454d;
    width: 50px;
    height: 50px;
    margin-right: -2px;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: white;
}

/*действие при наведении мишкой на прячущиеся соц кнопки*/
.social-team a:hover {
    background-color: #4e5a62;
    transition: all 0.2s linear;
}

/*подпись к фото*/
.team-photo-label {
    min-height: 75px;
    background-color: #e1e6ea;
}

/*заголовок в подписи к фото*/
.team-photo-label h3 {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #292f36;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 18px;
}

/*абзац в подписи к фото*/
.team-photo-label p {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-size: 14px;
    line-height: 25px;
}

/*появление соц кнопок при наведени на фото*/
.team-photo-block:hover .social-team {
    display: block;
}

/*фото светлеет при наведении*/
.team-photo-block:hover .team-photo {
    filter: opacity(0.5) brightness(115%);
    transition: all 0.3s linear;
}

/*меняется фон подписи при наведении*/
.team-photo-block:hover .team-photo-label {
    background-color: #3a454d;
    transition: all 0.3s linear;
}

/*меняется цвет текста в подписи при наведении*/
.team-photo-block:hover .team-photo-label h3,
.team-photo-block:hover .team-photo-label p {
    color: white;
    transition: all 0.3s linear;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*блок наши работы*/
.work {
    width: 100%;
    min-height: 900px;
    background-color: #3a454d;
}

/*блок со всеми фотографиями*/
.work-photos {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*блок одной фотографии*/
.work-photo-section {
    margin-bottom: 30px;
    position: relative;
    width: 320px;
    height: auto;
}

/*фото*/
.work-photo {
    width: 320px;
    height: auto;
}

/*крестик в центре фото*/
.cross {
    background-image: url("img/cross.png");
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 152px;
    left: 175px;
    display: none;
}
 /*фото 1*/
.work-photo1 {
    background-image: url("img/portfolio_1.jpg");
}

/*фото 2*/
.work-photo2 {
    background-image: url("img/portfolio_2.jpg");
}

/*фото 3*/
.work-photo3 {
    background-image: url("img/portfolio_3.jpg");
}

/*фото 4*/
.work-photo4 {
    background-image: url("img/portfolio_4.jpg");
}

/*фото 5*/
.work-photo5 {
    background-image: url("img/portfolio_5.jpg");
}

/*фото 6*/
.work-photo6 {
    background-image: url("img/portfolio_6.jpg");
}

/*подпись к фото*/
.work-label {
    width: 340px;
    height: 50px;
    position: absolute;
    background-color: #292f36;
    top: 205px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    line-height: 42px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    display: none;
}

/*делаем видимыми подпись и крестик при наведении на фото*/
.work-photo-section:hover .work-label,
.work-photo-section:hover .cross {
    display: block;
}

/*уменьшаем прозрачность фото при наведении*/
.work-photo-section:hover .work-photo {
    filter: opacity(0.5);
    transition: all 0.3s linear;
}

/*блок с кнопкой*/
.work .buttons {
    margin-top: 30px;
    display: flex;
    padding-bottom: 20px;
}

/*кнопка*/
.work .btn-work {
    margin: 0 auto;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*блок что мы делаем*/
.services {
    width: 100%;
    min-height: 897px;
}

/*блок со всем перечнем*/
.services-list {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*отдельный блок перечня*/
.services-section {
    width: 263px;
    min-height: 250px;
    margin-bottom: 60px;
}

/*блок с иконкой*/
.services-icon {
    height: 100px;
    width: 100%;
    text-align: center;
}

/*сама иконка*/
.services-icon i {
    font-size: 60px;
    line-height: 100px;
    color: #23b7a4;
}

/*текстовое содержание*/
.services-text {
    min-height: 150px;
}

/*текстовое содержание - заголовок*/
.services-text h2 {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    color: #292f36;
    text-align: center;
}

/*текстовое содержание - абзац*/
.services-text p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*блок особенности*/
.features {
    width: 100%;
    min-height: 734px;
    background-color: #3a454d;
}

/*блок всех фото и описаний*/
.features-block {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*отдельный блок*/
.features-section {
    width: 320px;
    min-height: 440px;
    margin-bottom: 50px;
}

/*фото*/
.features-photo {
    width: 320px;
    height: auto;
}

/*фото1*/
.features-photo1 {
    background-image: url("img/features_photo_1.jpg");
}

/*фото2*/
.features-photo2 {
    background-image: url("img/features_photo_2.jpg");
}

/*фото3*/
.features-photo3 {
    background-image: url("img/features_photo_3.jpg");
}

/*текстовая подпись - заголовок*/
.features-text h2 {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 25px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
}

/*текстовая подпись - абзац*/
.features-text p {
    margin: 0;
    padding: 0;
    color: #dcdfe1;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/

/*блок контактов*/
.contact {
    width: 100%;
    min-height: 880px;
    position: relative;
}

/*флекс контейнер*/
.flex-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    min-height: 450px;
    margin-top: 275px;
}

/*блок contact information*/
.contact_information {
    max-width: 555px;
    min-width: 320px;
    min-height: 250px;
    padding-top: 200px;
}

/*заголовок в блоке contact information*/
.contact_information h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    padding-left: 10px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #292f36;
}

/*абзац в блоке contact information*/
.contact_information p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

/*блок формы обратной связи*/
.form {
    max-width: 555px;
    min-width: 320px;
    height: 450px;
    z-index: 20;
    background-color: white;
    box-shadow: 0 -1px #cccfd3;
}

/*сама форма*/
.feedback-form {
    margin: 27px 30px 0px;
}

/*отдельные блоки в форме*/
.feedback-form-group {
    margin-bottom: 35px;
}

/*флекс-контейнер для полей YOUR NAME и YOUR EMAIL*/
.name_mail {
    display: flex;
    justify-content: space-between;
}

/*стили для блока YOUR NAME и YOUR EMAIL*/
.feedback-form-group-left,
.feedback-form-group-right {
    max-width: 48%;
}

/*стили для label в форме*/
.feedback-form-group label {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
}

/*стили для полей форм*/
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    font: inherit;
    color: inherit;
    border-radius: 5px;
    border: none;
    background-color: #eaeef1;
}

/*стили для textarea*/
.feedback-form textarea {
    display: block;
    min-height: 160px;
}

/*стили для кнопки в форме*/
.buttons .btn-form {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
    margin-bottom: 20px;
}

/*стили для кнопки при нажатии на неё*/
.buttons .btn-form:hover {
    background-color: white;
    color: #23b7a4;
}

/*карта*/
.map {
    width: 100%;
    height: 345px;
    position: absolute;
    top: 190px;
    background-color: #d4d6d2;
    z-index: 10;
}



/*++++++++++++++++++++++++++++++++++++++++ БЛОК +++++++++++++++++++++++++++++++++++++++*/
/*подвал*/
footer {
    width: 100%;
    min-height: 95px;
    background-color: #3a454d;
}

/*контейнер-центровщик*/
.container-footer {
    display: flex;
    justify-content: space-between;
    min-height: inherit;
    align-items: center;
    flex-wrap: wrap;
}

/*блок © Copyright*/
.left-footer-block {
    max-width: 500px;
    min-width: 320px;
    display: flex;
    justify-content: center;
}

/*абзац в блоке © Copyright*/
.left-footer-block p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
}

/*пустой блок, помогающий в позиционировании блока ниже (когда блок ниже переносится на новую строку)*/
.zero {
    width: 50px;
    flex-grow: 10;
}

/*блок соц ссылок*/
.right-footer-block {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

/*сами ссылки*/
.right-footer-block a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/*ховер для ссылок*/
.right-footer-block a:hover {
    color: #97aeb8;
    transition: all 0.2s linear;
}